<div class="container">
  {{ include('@helper_module/includes/menu-back.html.twig') }}

  <h1 class="mb-0" id="content">Buttons</h1>
  <p>Custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>

  <div class="row">
    <h2 class="mt-4">Examples</h2>
    <p><small>Predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</small></p>

    <h3 class="mt-4">Standard</h3>
    <div class="snippet">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>

      <button type="button" class="btn btn-link">Link</button>
    </div>

    <h3 class="mt-4">Outline</h3>
    <div class="snippet">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-light">Light</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>

    <h3 class="mt-4">Sizes</h3>
    <p><small>Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes.</small></p>
    <div class="snippet">
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
      <button type="button" class="btn btn-secondary btn-lg">Large button</button>

      <p></p>
      <button type="button" class="btn btn-primary btn-sm">Small button</button>
      <button type="button" class="btn btn-secondary btn-sm">Small button</button>
    </div>

    <h3 class="mt-4">Disabled</h3>
    <div class="snippet">
      <button type="button" class="btn btn-primary" disabled>Primary button</button>
      <button type="button" class="btn btn-secondary" disabled>Button</button>
      <button type="button" class="btn btn-outline-primary" disabled>Primary button</button>
      <button type="button" class="btn btn-outline-secondary" disabled>Button</button>

      <p></p>
      <a class="btn btn-primary disabled" role="button" aria-disabled="true">Primary link</a>
      <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Link</a>
    </div>

    <h3 class="mt-4">Block buttons</h3>
    <p><small>Responsive stacks of full-width, “block buttons” like those in Bootstrap 4 with a mix of our display and gap utilities. By using utilities instead of button specific classes, we have much greater control over spacing, alignment, and responsive behaviors.</small></p>
    <div class="snippet">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-secondary" type="button">Button</button>
      </div>

      <p></p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-secondary" type="button">Button</button>
      </div>

      <p></p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-secondary" type="button">Button</button>
      </div>

      <p></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Button</button>
        <button class="btn btn-secondary" type="button">Button</button>
      </div>
    </div>

    <h3 class="mt-4">Button states / toggles</h3>
    <div class="snippet">
      <button type="button" class="btn btn-primary" data-bs-toggle="button">Toggle button</button>
      <button type="button" class="btn btn-primary active" data-bs-toggle="button" aria-pressed="true">Active toggle button</button>
      <button type="button" class="btn btn-primary" disabled data-bs-toggle="button">Disabled toggle button</button>

      <p></p>
      <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Toggle link</a>
      <a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Active toggle link</a>
      <a class="btn btn-primary disabled" aria-disabled="true" role="button" data-bs-toggle="button">Disabled toggle link</a>
    </div>

  </div>
</div>
