{% block footer %}

  {% block footer_primary %}
    <footer class="footer-primary container-fluid g-0">
      <div class="container-xxl g-0">
        {# Access footer site_setting #}
        {# it appears content_translation adds this extra key, but honestly kinda at wits end here #}
        {% if site_settings.global.footer.field_footer_sections is defined %}
          {% set footer_settings = site_settings.global.footer.field_footer_sections ?? [] %}
        {% elseif site_settings.global.footer.0 %} {# just for safety check there is an indexed array #}
          {% set footer_settings = site_settings.global.footer ?? [] %}
        {% else %}
          {% set footer_settings = [] %}
        {% endif %}

        {# Since all paragraphs are saved in one array, we only want to render footer_section paragraphs
        (Layout builder paragraph) which holds all the others paragraphs within it #}
        {% for footer_setting in footer_settings %}
          {% if footer_setting.target_id is defined %}
            {% set current_paragraph = drupal_entity('paragraph', footer_setting.target_id, 'default') %}
            {% if current_paragraph['#paragraph'].bundle == 'footer_section' %}
              {{ current_paragraph }}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </footer>
  {% endblock %}

  {% block footer_secondary %}
    <div class="footer-secondary">
      <div class="d-flex container-xxl mx-auto flex-column flex-sm-row justify-content-between align-items-center">
        {% block footer_menu %}
          <div class="footer-menu">
            {{ drupal_menu('footer') }}
          </div>
        {% endblock %}

      </div>

    </div>
  {% endblock %}

{% endblock %}
