fieldset[data-drupal-selector="edit-field-cards-nt-card"] {
    border: none;
}

fieldset[data-drupal-selector="edit-field-cards-nt-card"] .fieldset__legend {
    display: none;
}

fieldset[data-drupal-selector="edit-field-cards-nt-card"] .lpb-btn--add {
    background: none;
}

fieldset[data-drupal-selector="edit-field-cards-nt-card"] .lpb-btn--add:after {
    content: 'Add card';
}

fieldset[data-drupal-selector="edit-field-cards-nt-card"] .js-lpb-component:first-child .lpb-btn--add.before {
    display: block;
}

fieldset[data-drupal-selector="edit-field-cards-nt-card"] .js-lpb-component:last-of-type .lpb-btn--add.after {
    display: block;
}

.lpb-component-list__item.type-cards .nugget-icon {
  background: url("../icons/cards.svg") no-repeat 50% 50% / 90px 90px;
}
