.palette-alt-2 {
  .card .btn.btn-outline-primary {
    background: $btn-outline-primary-background;
    color: $btn-outline-primary-color;

    &:hover {
      background: $btn-outline-primary-hover-background;
      color: $btn-outline-primary-hover-color;
    }
  }
}

