#sliding-popup {
  &.sliding-popup-bottom {
    -webkit-box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.82);
    box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.82);

    width: 500px !important;

    .eu-cookie-compliance-banner {
      padding: 12px;
    }

    .btn {
      text-shadow: none;
      padding-top: 12px;
      padding-bottom: 12px;

      &.agree-button {
        text-shadow: none;
      }
    }


    .eu-cookie-compliance-banner .eu-cookie-compliance-content {
      #popup-text h2,
      h2,
      p,
      .eu-cookie-compliance-message button {
        color: $dark;
        line-height: unset;
      }

      .eu-cookie-compliance-message {
        max-width: unset;
      }
      .btn {
        margin: 8px !important;
      }
    }
  }
}

.accordion-body {
  font-size: 1rem;
}