.paragraph--type--promo {
  .promo-bg {
    mask: url('../assets/images/sun-shape.svg') no-repeat 45% 55%/300%;
    background: #FCC529;
    top: 0;
    left: 0;
    z-index: 0;
    @media(min-width: 768px) {
      mask: url('../assets/images/sun-shape.svg') no-repeat 45% 55%/150%;
    }
  }

  .promo-wrapper {
    z-index: 1;
  }

  .promo-link a.btn.btn-secondary {
    background: rgba(255, 255, 255, 0.20);

    &:hover {
      background: rgba(255, 255, 255, 0.40);
      color: $global-text-primary;
    }
  }
}
