.paragraph--type--promo {
  .promo-bg {
    mask: url('../assets/images/bg-shape.svg') repeat-x 0 50%/contain;
    background: $global-color-warning-200;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .promo-wrapper {
    z-index: 1;
  }

  .promo-link a.btn.btn-secondary {
    background: rgba($global-color-warning-500, 0.8);
    color: $global-text-primary;

    &:hover {
      background: $global-color-warning-500;
      color: $global-text-primary;
    }
  }
}
