.palette-alt-2 {
  &.popover,
  .popover {
    --bs-popover-max-width: #{$alt-2-popover-max-width};
    --bs-popover-bg: #{$alt-2-popover-bg};
    --bs-popover-border-color: #{$alt-2-popover-border-color};
    --bs-popover-border-radius: #{$alt-2-popover-border-radius};
    --bs-popover-header-padding-x: #{$alt-2-popover-header-padding-x};
    --bs-popover-header-padding-y: #{$alt-2-popover-header-padding-y};
    --bs-popover-header-color: #{$alt-2-popover-header-color};
    --bs-popover-header-bg: #{$alt-2-popover-header-bg};
    --bs-popover-body-padding-x: #{$alt-2-popover-body-padding-x};
    --bs-popover-body-padding-y: #{$alt-2-popover-body-padding-y};
    --bs-popover-body-color: #{$alt-2-popover-body-color};
  }
}
