<style>
    body {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border: 0;
        border-spacing: 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        background-color: #072f4a;
        color: #fff;
        padding: 16px;
    }
    td {
        vertical-align: top;
    }
    .logo {
        width: 100%;
        padding-top: 15px;
    }
    a {
        color: #fff785
    }
    .contact {
        margin: 16px;
    }
    .contact span {
        display: block;
        padding-bottom: 8px
    }
</style>
<table>
    <tr>
        <td style="width: 30%">
            <img src="https://ds-composites.eu/themes/custom/ds_composites/logo-dsc.svg" alt="DS Composites" class="logo"/>
        </td>
        <td style="padding-left: 32px;">
            <p style=" font-size:18px;"><strong>Tadej TURK</strong></p>
            <p style="">CNC programmer</p>
            <p style="">DS Composites - Precision You Can Trust</p>
            <div class="contact">
                <span><strong>Call:</strong> <a href="tel:00386">+386 xxx</a></span>
                <span><strong>Write:</strong> <a href="mailto:info@ds-composites.eu" >info@ds-composites.eu</a></span>
                <span><strong>WWW:</strong> <a href="https://ds-composites.eu" >https://ds-composites.eu</a></span>
            </div>
            <p style="margin:5px 0;">
                <strong>Follow Us:</strong><br/>
                <a href="#" >LinkedIn</a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:10px;">
            <p style=" font-size:12px; color:#aaa;">
                <em>DS Composites - High-quality and precise solutions for a wide range of industries</em>
            </p>
        </td>
    </tr>
</table>
