{% block main_menu %}

  {# Prepare the classes for the navbar #}
  {% set nav_classes = [
    'navbar',
    'navbar-expand-lg',
    'navbar-expand-lg',
    'px-0'
  ] %}

  {% if is_module_installed('remora_search') %}
    <div class="d-block d-lg-none">
      {{ drupal_block('remora_search_nav_block') }}
    </div>
  {% endif %}

  {% block nav %}
    {% block nav_theme %}
      <nav{{ attributes.addClass(nav_classes) }} data-bs-theme="dark">
    {% endblock %}
    <div class="navbar-content container-xxl g-xxl-0 justify-content-end">
      {% block button %}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavDarkDropdown"
                aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      {% endblock %}
      <div class="offcanvas offcanvas-end border-0" id="navbarNavDarkDropdown">
        <div class="offcanvas-header flex-row-reverse">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {{ drupal_entity('block', 'remora_base_theme_main_navigation') }}
      </div>
    </div>
    </nav>
  {% endblock %}

{% endblock %}