.accordion {
  padding: $accordion-padding-y $accordion-padding-x;
  --bs-accordion-color: #{$accordion-body-color}; // used for accordion-body
  --bs-accordion-bg: #{$accordion-bg-color};
  --bs-accordion-border-color: #{$accordion-border-color};
  --bs-accordion-border-width: #{$accordion-border-width};
  --bs-accordion-border-radius: #{$accordion-border-radius};
  --bs-accordion-btn-padding-x: #{$global-spacing-05};
  --bs-accordion-btn-padding-y: #{$global-spacing-05};
  --bs-accordion-btn-color: #{$accordion-button-color};
  --bs-accordion-btn-bg: #{$accordion-button-bg};
  --bs-accordion-body-padding-x: #{$global-spacing-05};
  --bs-accordion-body-padding-y: #{$global-spacing-05};
  --bs-accordion-active-color: #{$accordion-button-active-color};
  --bs-accordion-active-bg: #{$accordion-button-active-bg};

  @media(min-width: 576px) {
    --bs-accordion-body-padding-x: #{$accordion-body-padding-x};
    --bs-accordion-body-padding-y: #{$accordion-body-padding-y};
    --bs-accordion-btn-padding-x: #{$accordion-button-padding-x};
    --bs-accordion-btn-padding-y: #{$accordion-button-padding-y};
  }
}
