{% if (content.field_display_title['#items'] is not empty) %}
  <div class="section-title-container container-xxl">
    <div class="section-title-wrapper">
      <h2 class="section-title">{{ content.field_display_title.0 }}</h2>
    </div>
  </div>
{% endif %}
