h1 {
  @include font-size(2.125rem);
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  @include font-size(1.875rem);
  font-weight: 600;
  margin-bottom: 18px;
}

h3 {
  @include font-size(1.5rem);
  font-weight: 500;
  margin-bottom: 18px;
}

h4 {
  @include font-size(1.25rem);
  font-weight: 500;
  margin-bottom: 18px;
}

h5 {
  @include font-size(1.125rem);
  font-weight: 500;
  margin-bottom: 8px;
}

h6 {
  @include font-size(1rem);
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}


// WYSIWYG specific
.field--name-field-body, .field--name-field-text-media-nt-text {

  h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
  }

  & > *:first-child {
    margin-top: 0;
  }

  ul, ol {
    @include font-size(1.063rem);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
      @include font-size(1.125rem);
    }
    li {
      margin-bottom: 4px;
    }
  }
}

p {
  word-break: normal;
  overflow-wrap: anywhere;

  @include font-size(1.063rem);
  line-height: 150%;

  &.text-larger {
    @include font-size(1.375rem);
  }
  &.text-smaller {
    @include font-size(0.875rem);
  }

  @include media-breakpoint-up(lg, $grid-breakpoints) {
    @include font-size(1.125rem);
    strong {
      font-weight: 600;
    }
  }
}
