{% if content['#links'] %}
  {% set current_langcode = current_language() %}
  {% set classes = [ 'language-selector' ] %}
  <div{{ attributes.addClass(classes) }}>
    <ul>
      {% for langcode, item in content['#links'] %}
        <li>
          {% if langcode != current_langcode %}
            {% set uri = get_node_language_url(item.url, langcode) %}
            <a href="{{ uri }}">
          {% endif %}
          <span>
            {{ langcode|upper }}
          </span>
          {% if langcode != current_langcode %}
            </a>
          {% endif %}
        </li>
        {% endfor %}
    </ul>
  </div>

{% endif %}
