@import 'global';
// text
$text-primary: $global-color-primary-primary-900;
$text-secondary: $global-color-primary-primary-900;
$text-info: $global-color-secondary-secondary-700;
$text-date: $global-color-secondary-secondary-700;
$text-invert: $global-color-black-white;
$text-link: $global-color-primary-primary-700;
$text-link-hover: $global-color-primary-primary-800;

// surface
$surface-primary: $global-color-black-white;
$surface-secondary: $global-color-black-white;
$surface-tertiary: $global-color-dark-dark-900;

// borders
$border-primary: $global-color-light-light-500;
$border-secondary: $global-color-light-light-300;

// layout

// content
$layout-content-max-width: 1900px;
$layout-content-node-max-width: 1200px;
$layout-content-padding-left: $global-spacing-3;

// nugget
$layout-nugget-margin-y: $global-spacing-4;
$layout-nugget-mobile-margin-y: $global-spacing-1;

// title
$layout-nugget-title-margin-bottom: 0px;
$layout-nugget-title-margin-top: 0px;

// carousel
$layout-nugget-carousel-spacer: $global-spacing-4;
$layout-nugget-carousel-height: 40px;
$layout-nugget-carousel-width: 40px;
$layout-nugget-carousel-border-width: 1px;
$layout-nugget-carousel-border-radius: $global-spacing-0;
$layout-nugget-carousel-default-bg: rgba(1, 105, 163, 0.1000);
$layout-nugget-carousel-default-color: $global-color-primary-primary-900;
$layout-nugget-carousel-default-border: rgba(1, 105, 163, 0.0000);
$layout-nugget-carousel-hover-bg: $global-color-primary-primary-700;
$layout-nugget-carousel-hover-color: $global-color-black-white;
$layout-nugget-carousel-hover-border: $global-color-primary-primary-700;
$layout-nugget-carousel-active-bg: $global-color-primary-primary-800;
$layout-nugget-carousel-active-color: $global-color-black-white;
$layout-nugget-carousel-active-border: $global-color-primary-primary-800;

// carousel
$layout-carousel-margin-y: $global-spacing-0;
$layout-carousel-max-width: 1900px;
$layout-carousel-wrapper: 2800px;
$layout-carousel-controls-max-width: 1900px;

// intro
$layout-intro-margin-y: $global-spacing-0;
$layout-intro-content-max-width: 1900px;
$layout-intro-wrapper: 2800px;

// feature article
$layout-feature-article-margin-y: $global-spacing-3;
$layout-feature-article-mobile-margin-y: $global-spacing-1;
$layout-feature-article-mobile-margin-y-2: $global-spacing-1;
$layout-feature-article-wrapper: 3000px;
$layout-feature-article-content-max-width: 1900px;

// promo
$layout-promo-wrapper: 2800px;
$layout-promo-content-max-width: 1900px;
$layout-promo-margin-y: $global-spacing-3;

// feature nugget
$layout-feature-nugget-margin-top: $global-spacing-4;
$layout-feature-nugget-margin-bottom: $global-spacing-0;
$layout-feature-nugget-content-max-width: 1900px;
$layout-feature-nugget-wrapper: 1900px;

// section title
$layout-section-title-spacer: $global-spacing-1;
$layout-section-title-color: $global-color-black-black;
$layout-section-title-align: left;
$layout-section-title-border-color: $global-color-warning-warning-500;
$layout-section-title-border-bottom: 0px;
$layout-section-title-border-top: 0px;
$layout-section-title-border-left: 0px;
$layout-section-title-border-right: 0px;
$layout-section-title-border-radius: 0px;
$layout-section-title-padding-y: 0px;
$layout-section-title-padding-x: 0px;
$layout-section-title-margin-top: $global-spacing-1;
$layout-section-title-margin-bottom: $global-spacing-0;

// hero
$layout-hero-margin-top: $global-spacing-0;
$layout-hero-margin-bottom: $global-spacing-2;
$layout-hero-wrapper: 1600px;
$layout-hero-content-max-width: 1400px;

// components

// attachments
$attachment-padding-x: 20px;
$attachment-padding-y: 20px;
$attachment-bg: rgba(0, 135, 204, 0.1000);
$attachment-border: rgba(0, 135, 204, 0.0000);
$attachment-border-bottom: $global-spacing-0;
$attachment-border-top: $global-spacing-0;
$attachment-border-left: $global-spacing-0;
$attachment-border-right: $global-spacing-0;
$attachment-file-name: $global-color-primary-primary-700;
$attachment-icon-padding-x: $global-spacing-01;
$attachment-icon-padding-y: $global-spacing-01;
$attachment-icon-color: $global-color-primary-primary-700;

// file type
$attachment-file-type-image-file-color: $global-color-primary-primary-800;
$attachment-file-type-image-file-bg: rgba(1, 105, 163, 0.0000);
$attachment-file-type-document-file-color: $global-color-primary-primary-800;
$attachment-file-type-document-file-bg: rgba(5, 89, 135, 0.0000);
$attachment-file-type-office-file-color: $global-color-primary-primary-800;
$attachment-file-type-office-file-bg: rgba(251, 186, 0, 0.0000);
$attachment-file-type-archive-file-color: $global-color-primary-primary-800;
$attachment-file-type-archive-file-bg: rgba(215, 101, 8, 0.0000);
$attachment-file-type-media-file-color: $global-color-primary-primary-800;
$attachment-file-type-media-file-bg: rgba(78, 96, 123, 0.0000);
$attachment-file-type-hover-image-file-color: $global-color-primary-primary-800;
$attachment-file-type-hover-image-file-bg: rgba(6, 89, 134, 0.0000);
$attachment-file-type-hover-document-file-color: $global-color-primary-primary-800;
$attachment-file-type-hover-document-file-bg: rgba(226, 145, 0, 0.0000);
$attachment-file-type-hover-office-file-color: $global-color-primary-primary-800;
$attachment-file-type-hover-office-file-bg: rgba(251, 186, 0, 0.0000);
$attachment-file-type-hover-archive-file-color: $global-color-primary-primary-800;
$attachment-file-type-hover-archive-file-bg: rgba(215, 101, 8, 0.0000);
$attachment-file-type-hover-media-file-color: $global-color-primary-primary-800;
$attachment-file-type-hover-media-file-bg: rgba(64, 77, 100, 0.0000);
$attachment-file-type-padding-x: $global-spacing-05;
$attachment-file-type-padding-y: $global-spacing-02;
$attachment-file-type-radius: $global-spacing-border-radius-sm;
$attachment-content-spacer-y: $global-spacing-05;
$attachment-content-spacer-x: $global-spacing-1;
$attachment-radius: $global-spacing-0;
$attachment-hover-radius: $global-spacing-0;
$attachment-hover-icon-color: $global-color-primary-primary-700;
$attachment-hover-bg: rgba(0, 135, 204, 0.2000);
$attachment-hover-border: $global-color-primary-primary-600;
$attachment-hover-file-name: $global-color-primary-primary-800;

// accordion
$accordion-padding-y: $global-spacing-1;
$accordion-padding-x: 22.5px;
$accordion-border-width: $global-border-border-width;
$accordion-border-radius: 0px;
$accordion-button-padding-y: 10px;
$accordion-button-padding-x: $global-spacing-1;
$accordion-body-padding-y: $global-spacing-1;
$accordion-body-padding-x: $global-spacing-1;
$accordion-bg-color: $global-color-light-light-100;
$accordion-body-color: $global-color-dark-dark-900;
$accordion-body-color-hover: $global-color-light-light-100;
$accordion-body-color-disabled: $global-color-light-light-100;
$accordion-body-color-active: $global-color-light-light-100;
$accordion-button-bg: $global-color-light-light-200;
$accordion-button-color: $global-color-primary-primary-800;
$accordion-button-active-bg: $global-color-primary-primary-100;
$accordion-button-active-color: $global-color-primary-primary-800;
$accordion-button-color-disabled: $global-color-light-light-100;
$accordion-border-color: $global-color-light-light-300;

// alerts
$alert-primary: $global-color-primary-primary-100;
$alert-primary-border: $global-color-primary-primary-500;
$alert-primary-text: $global-color-primary-primary-800;
$alert-primary-button: $global-color-primary-primary-800;
$alert-secondary: $global-color-secondary-secondary-100;
$alert-secondary-border: $global-color-secondary-secondary-500;
$alert-secondary-text: $global-color-secondary-secondary-800;
$alert-secondary-button: $global-color-secondary-secondary-800;
$alert-success: $global-color-success-success-100;
$alert-success-border: $global-color-success-success-500;
$alert-success-text: $global-color-success-success-800;
$alert-success-button: $global-color-success-success-600;
$alert-danger: $global-color-danger-danger-100;
$alert-danger-border: $global-color-danger-danger-500;
$alert-danger-text: $global-color-danger-danger-700;
$alert-danger-button: $global-color-danger-danger-600;
$alert-warning: $global-color-warning-warning-100;
$alert-warning-border: $global-color-warning-warning-500;
$alert-warning-text: $global-color-warning-warning-800;
$alert-warning-button: $global-color-warning-warning-600;
$alert-info: $global-color-info-info-100;
$alert-info-border: $global-color-info-info-500;
$alert-info-text: $global-color-info-info-800;
$alert-info-button: $global-color-info-info-600;
$alert-light: $global-color-light-light-100;
$alert-light-border: $global-color-light-light-500;
$alert-light-text: $global-color-light-light-800;
$alert-light-button: $global-color-light-light-800;
$alert-dark: $global-color-dark-dark-500;
$alert-dark-border: $global-color-dark-dark-900;
$alert-dark-text: $global-color-black-white;
$alert-dark-button: $global-color-black-white;
$alert-padding-x: $global-spacing-1;
$alert-padding-y: $global-spacing-1;
$alert-border-radius: 0px;

// badge
$badge-primary: $global-color-primary-primary-100;
$badge-primary-text: $global-color-primary-primary-700;
$badge-secondary: $global-color-secondary-secondary-100;
$badge-secondary-text: $global-color-secondary-secondary-700;
$badge-secondary-border: $global-color-secondary-secondary-700;
$badge-success: $global-color-success-success-100;
$badge-success-text: $global-color-success-success-700;
$badge-danger: $global-color-danger-danger-500;
$badge-danger-text: $global-color-black-white;
$badge-warning: $global-color-warning-warning-100;
$badge-warning-text: $global-color-warning-warning-800;
$badge-info: $global-color-info-info-100;
$badge-info-text: $global-color-info-info-700;
$badge-light: $global-color-light-light-100;
$badge-light-text: $global-color-light-light-700;
$badge-dark: $global-color-primary-primary-300;
$badge-dark-text: $global-color-dark-dark-900;
$badge-border-radius: $global-spacing-0;
$badge-border-radius-pill: $global-spacing-border-radius-pill;
$badge-padding-y: $global-spacing-05;
$badge-padding-x: $global-spacing-05;

// breadcrumb
$breadcrumb-item: $global-color-black-white;
$breadcrumb-divider-color: $global-color-black-white;
$breadcrumb-active: $global-color-primary-primary-500;
$breadcrumb-bg: $global-color-primary-primary-900;
$breadcrumb-padding-y: $global-spacing-1;
$breadcrumb-padding-x: $global-spacing-0;
$breadcrumb-margin-bottom: $global-spacing-02;
$breadcrumb-max-width: 1600px;
$breadcrumb-item-padding-x: $global-spacing-1;

// btn-close
$btn-close-width: $global-spacing-1;
$btn-close-height: $global-spacing-1;
$btn-close-padding-x: $global-spacing-02;
$btn-close-padding-y: $global-spacing-02;
$btn-close-color: $global-color-secondary-secondary-900;
$btn-close-close-bg: rgba(255, 255, 255, 0.0000);
$btn-close-white-filter: $global-color-black-white;

// buttons
$btn-border-radius: $global-spacing-0;
$btn-border-width: 1px;

// btn-primary
$btn-primary-background: rgba(1, 105, 163, 0.1000);
$btn-primary-border: rgba(1, 105, 163, 0.0000);
$btn-primary-color: $global-color-primary-primary-900;
$btn-primary-hover-background: $global-color-primary-primary-700;
$btn-primary-hover-border: $global-color-primary-primary-700;
$btn-primary-hover-color: $global-color-black-white;
$btn-primary-active-background: $global-color-primary-primary-800;
$btn-primary-active-border: $global-color-primary-primary-800;
$btn-primary-active-color: $global-color-black-white;
$btn-primary-disabled-background: rgba(1, 105, 163, 0.1000);
$btn-primary-disabled-border: rgba(1, 105, 163, 0.0000);
$btn-primary-disabled-color: $global-color-primary-primary-900;
$btn-padding-y: 20px;
$btn-padding-x: $global-spacing-1;
$btn-padding-y-sm: 20px;
$btn-padding-x-sm: $global-spacing-1;
$btn-padding-y-lg: 20px;
$btn-padding-x-lg: $global-spacing-1;
$btn-margin-x: $global-spacing-0;
$btn-margin-y: $global-spacing-0;

// btn-secondary
$btn-secondary-background: rgba(0, 131, 202, 0.1000);
$btn-secondary-border: rgba(0, 131, 202, 0.0000);
$btn-secondary-color: $global-color-dark-dark-900;
$btn-secondary-hover-background: $global-color-secondary-secondary-700;
$btn-secondary-hover-border: $global-color-secondary-secondary-700;
$btn-secondary-hover-color: $global-color-black-white;
$btn-secondary-active-background: $global-color-secondary-secondary-800;
$btn-secondary-active-border: $global-color-secondary-secondary-800;
$btn-secondary-active-color: $global-color-black-white;
$btn-secondary-disabled-background: rgba(12, 166, 235, 0.1000);
$btn-secondary-disabled-border: rgba(12, 166, 235, 0.0000);
$btn-secondary-disabled-color: $global-color-primary-primary-900;

// btn-outline-primary
$btn-outline-primary-background: rgba(12, 166, 235, 0.1000);
$btn-outline-primary-border: $global-color-primary-primary-700;
$btn-outline-primary-color: $global-color-primary-primary-700;
$btn-outline-primary-hover-background: $global-color-primary-primary-600;
$btn-outline-primary-hover-border: $global-color-primary-primary-600;
$btn-outline-primary-hover-color: $global-color-black-white;
$btn-outline-primary-active-background: $global-color-primary-primary-700;
$btn-outline-primary-active-border: $global-color-primary-primary-700;
$btn-outline-primary-active-color: $global-color-black-white;
$btn-outline-primary-disabled-background: rgba(211, 12, 123, 0.0000);
$btn-outline-primary-disabled-border: $global-color-primary-primary-700;
$btn-outline-primary-disabled-color: $global-color-primary-primary-700;

// btn-outline-secondary
$btn-outline-secondary-background: rgba(0, 131, 202, 0.1000);
$btn-outline-secondary-border: $global-color-secondary-secondary-700;
$btn-outline-secondary-color: $global-color-secondary-secondary-700;
$btn-outline-secondary-hover-background: $global-color-secondary-secondary-800;
$btn-outline-secondary-hover-border: $global-color-secondary-secondary-800;
$btn-outline-secondary-hover-color: $global-color-black-white;
$btn-outline-secondary-active-background: $global-color-secondary-secondary-800;
$btn-outline-secondary-active-border: $global-color-secondary-secondary-800;
$btn-outline-secondary-active-color: $global-color-black-white;
$btn-outline-secondary-disabled-background: rgba(0, 131, 202, 0.1000);
$btn-outline-secondary-disabled-border: $global-color-secondary-secondary-700;
$btn-outline-secondary-disabled-color: $global-color-secondary-secondary-700;

// btn-outline-link
$btn-outline-link-background: rgba(255, 255, 255, 0.0000);
$btn-outline-link-border: rgba(255, 255, 255, 0.0000);
$btn-outline-link-color: $global-color-primary-primary-500;
$btn-outline-link-hover-background: rgba(255, 255, 255, 0.0000);
$btn-outline-link-hover-border: rgba(255, 255, 255, 0.0000);
$btn-outline-link-hover-color: $global-color-primary-primary-700;
$btn-outline-link-active-background: rgba(255, 255, 255, 0.0000);
$btn-outline-link-active-border: $global-color-primary-primary-500;
$btn-outline-link-active-color: $global-color-primary-primary-600;
$btn-outline-link-disabled-background: rgba(255, 255, 255, 0.0000);
$btn-outline-link-disabled-border: rgba(255, 255, 255, 0.0000);
$btn-outline-link-disabled-color: $global-color-primary-primary-500;

// btn-success
$btn-success-background: $global-color-success-success-500;
$btn-success-border: $global-color-success-success-500;
$btn-success-color: $global-color-black-white;
$btn-success-hover-background: $global-color-success-success-600;
$btn-success-hover-border: $global-color-success-success-600;
$btn-success-hover-color: $global-color-black-white;
$btn-success-active-background: $global-color-success-success-800;
$btn-success-active-border: $global-color-success-success-800;
$btn-success-active-color: $global-color-black-white;
$btn-success-disabled-background: $global-color-success-success-500;
$btn-success-disabled-border: $global-color-success-success-500;
$btn-success-disabled-color: $global-color-black-white;

// btn-danger
$btn-danger-background: $global-color-danger-danger-500;
$btn-danger-border: $global-color-danger-danger-500;
$btn-danger-color: $global-color-black-white;
$btn-danger-hover-background: $global-color-danger-danger-600;
$btn-danger-hover-border: $global-color-danger-danger-600;
$btn-danger-hover-color: $global-color-black-white;
$btn-danger-active-background: $global-color-danger-danger-700;
$btn-danger-active-border: $global-color-danger-danger-700;
$btn-danger-active-color: $global-color-black-white;
$btn-danger-disabled-background: $global-color-danger-danger-400;
$btn-danger-disabled-border: $global-color-danger-danger-400;
$btn-danger-disabled-color: $global-color-black-white;

// btn-warning
$btn-warning-background: $global-color-warning-warning-500;
$btn-warning-border: $global-color-warning-warning-500;
$btn-warning-color: $global-color-primary-primary-900;
$btn-warning-hover-background: $global-color-warning-warning-600;
$btn-warning-hover-border: $global-color-warning-warning-600;
$btn-warning-hover-color: $global-color-primary-primary-900;
$btn-warning-active-background: $global-color-warning-warning-700;
$btn-warning-active-border: $global-color-warning-warning-700;
$btn-warning-active-color: $global-color-black-white;
$btn-warning-disabled-background: $global-color-warning-warning-500;
$btn-warning-disabled-border: $global-color-warning-warning-500;
$btn-warning-disabled-color: $global-color-primary-primary-900;

// btn-info
$btn-info-background: $global-color-info-info-500;
$btn-info-border: $global-color-info-info-500;
$btn-info-color: $global-color-black-white;
$btn-info-hover-background: $global-color-info-info-600;
$btn-info-hover-border: $global-color-info-info-600;
$btn-info-hover-color: $global-color-black-white;
$btn-info-active-background: $global-color-info-info-700;
$btn-info-active-border: $global-color-info-info-700;
$btn-info-active-color: $global-color-black-white;
$btn-info-disabled-background: $global-color-info-info-500;
$btn-info-disabled-border: $global-color-info-info-500;
$btn-info-disabled-color: $global-color-black-white;

// btn-light
$btn-light-background: $global-color-light-light-500;
$btn-light-border: $global-color-light-light-500;
$btn-light-color: $global-color-black-white;
$btn-light-hover-background: $global-color-light-light-600;
$btn-light-hover-border: $global-color-light-light-600;
$btn-light-hover-color: $global-color-black-white;
$btn-light-active-background: $global-color-light-light-700;
$btn-light-active-border: $global-color-light-light-700;
$btn-light-active-color: $global-color-black-white;
$btn-light-disabled-background: $global-color-light-light-500;
$btn-light-disabled-border: $global-color-light-light-500;
$btn-light-disabled-color: $global-color-black-white;

// btn-dark
$btn-dark-background: $global-color-dark-dark-500;
$btn-dark-border: $global-color-dark-dark-500;
$btn-dark-color: $global-color-black-white;
$btn-dark-hover-background: $global-color-dark-dark-600;
$btn-dark-hover-border: $global-color-dark-dark-600;
$btn-dark-hover-color: $global-color-black-white;
$btn-dark-active-background: $global-color-dark-dark-400;
$btn-dark-active-border: $global-color-dark-dark-400;
$btn-dark-active-color: $global-color-black-white;
$btn-dark-disabled-background: $global-color-dark-dark-500;
$btn-dark-disabled-border: $global-color-dark-dark-500;
$btn-dark-disabled-color: $global-color-black-white;

// btn-outline-success
$btn-outline-success-background: rgba(255, 255, 255, 0.0000);
$btn-outline-success-border: $global-color-success-success-700;
$btn-outline-success-color: $global-color-success-success-700;
$btn-outline-success-hover-background: $global-color-success-success-600;
$btn-outline-success-hover-border: $global-color-success-success-600;
$btn-outline-success-hover-color: $global-color-black-white;
$btn-outline-success-active-background: $global-color-success-success-500;
$btn-outline-success-active-border: $global-color-success-success-500;
$btn-outline-success-active-color: $global-color-black-white;
$btn-outline-success-disabled-background: rgba(255, 255, 255, 0.0000);
$btn-outline-success-disabled-border: $global-color-success-success-700;
$btn-outline-success-disabled-color: $global-color-success-success-700;

// btn-outline-danger
$btn-outline-danger-background: rgba(255, 255, 255, 0.0000);
$btn-outline-danger-border: $global-color-danger-danger-700;
$btn-outline-danger-color: $global-color-danger-danger-700;
$btn-outline-danger-hover-background: $global-color-danger-danger-500;
$btn-outline-danger-hover-border: $global-color-danger-danger-500;
$btn-outline-danger-hover-color: $global-color-black-white;
$btn-outline-danger-active-background: $global-color-danger-danger-600;
$btn-outline-danger-active-border: $global-color-danger-danger-600;
$btn-outline-danger-active-color: $global-color-black-white;
$btn-outline-danger-disabled-background: rgba(255, 255, 255, 0.0000);
$btn-outline-danger-disabled-border: $global-color-danger-danger-700;
$btn-outline-danger-disabled-color: $global-color-danger-danger-700;

// btn-outline-warning
$btn-outline-warning-background: rgba(251, 186, 0, 0.1000);
$btn-outline-warning-border: $global-color-warning-warning-500;
$btn-outline-warning-color: $global-color-primary-primary-900;
$btn-outline-warning-hover-background: $global-color-warning-warning-500;
$btn-outline-warning-hover-border: $global-color-warning-warning-500;
$btn-outline-warning-hover-color: $global-color-primary-primary-900;
$btn-outline-warning-active-background: $global-color-warning-warning-600;
$btn-outline-warning-active-border: $global-color-warning-warning-600;
$btn-outline-warning-active-color: $global-color-primary-primary-900;
$btn-outline-warning-disabled-background: rgba(251, 186, 0, 0.1000);
$btn-outline-warning-disabled-border: $global-color-warning-warning-500;
$btn-outline-warning-disabled-color: $global-color-primary-primary-900;

// btn-outline-info
$btn-outline-info-background: rgba(255, 255, 255, 0.0000);
$btn-outline-info-border: $global-color-info-info-700;
$btn-outline-info-color: $global-color-info-info-700;
$btn-outline-info-hover-background: $global-color-info-info-500;
$btn-outline-info-hover-border: $global-color-info-info-500;
$btn-outline-info-hover-color: $global-color-black-white;
$btn-outline-info-active-background: $global-color-info-info-600;
$btn-outline-info-active-border: $global-color-info-info-600;
$btn-outline-info-active-color: $global-color-black-white;
$btn-outline-info-disabled-background: rgba(255, 255, 255, 0.0000);
$btn-outline-info-disabled-border: $global-color-info-info-700;
$btn-outline-info-disabled-color: $global-color-info-info-700;

// btn-outline-light
$btn-outline-light-background: rgba(255, 255, 255, 0.0000);
$btn-outline-light-border: $global-color-light-light-500;
$btn-outline-light-color: $global-color-light-light-500;
$btn-outline-light-hover-background: $global-color-light-light-500;
$btn-outline-light-hover-border: $global-color-light-light-500;
$btn-outline-light-hover-color: $global-color-light-light-900;
$btn-outline-light-active-background: $global-color-light-light-300;
$btn-outline-light-active-border: $global-color-light-light-300;
$btn-outline-light-active-color: $global-color-light-light-900;
$btn-outline-light-disabled-background: rgba(255, 255, 255, 0.0000);
$btn-outline-light-disabled-border: $global-color-light-light-500;
$btn-outline-light-disabled-color: $global-color-light-light-500;

// btn-outline-dark
$btn-outline-dark-background: rgba(255, 255, 255, 0.0000);
$btn-outline-dark-border: $global-color-dark-dark-500;
$btn-outline-dark-color: $global-color-dark-dark-500;
$btn-outline-dark-hover-background: $global-color-dark-dark-500;
$btn-outline-dark-hover-border: $global-color-dark-dark-500;
$btn-outline-dark-hover-color: $global-color-black-white;
$btn-outline-dark-active-background: $global-color-dark-dark-600;
$btn-outline-dark-active-border: $global-color-dark-dark-600;
$btn-outline-dark-active-color: $global-color-black-white;
$btn-outline-dark-disabled-background: $global-color-dark-dark-500;
$btn-outline-dark-disabled-border: $global-color-dark-dark-500;
$btn-outline-dark-disabled-color: $global-color-black-white;

// btn-link
$btn-link-background: rgba(255, 109, 97, 0.0000);
$btn-link-border: rgba(255, 109, 97, 0.0000);
$btn-link-color: $global-color-primary-primary-700;
$btn-link-hover-background: rgba(229, 44, 29, 0.0000);
$btn-link-hover-border: rgba(229, 44, 29, 0.0000);
$btn-link-hover-color: $global-color-primary-primary-800;
$btn-link-active-background: rgba(193, 33, 20, 0.0000);
$btn-link-active-border: rgba(193, 33, 20, 0.0000);
$btn-link-active-color: $global-color-primary-primary-900;
$btn-link-disabled-background: rgba(255, 109, 97, 0.0000);
$btn-link-disabled-border: rgba(255, 109, 97, 0.0000);
$btn-link-disabled-color: $global-color-primary-primary-700;

// card
$card-bg-color: #f6f8f9;
$card-bg-color-hover: $global-color-light-light-200;
$card-color: $global-color-primary-primary-900;
$card-title-color: $global-color-primary-primary-900;
$card-summary-color: $global-color-primary-primary-900;
$card-summary-color-hover: $global-color-primary-primary-900;
$card-date-color: $global-color-primary-primary-700;
$card-date-color-hover: $global-color-primary-primary-700;
$card-title-color-hover: $global-color-primary-primary-800;
$card-tag-bg: $global-color-primary-primary-100;
$card-tag-bg-hover: $global-color-primary-primary-100;
$card-tag-border: $global-color-primary-primary-100;
$card-tag-border-hover: $global-color-primary-primary-100;
$card-tag-content: $global-color-primary-primary-800;
$card-tag-content-hover: $global-color-primary-primary-900;
$card-padding-y: 24px;
$card-padding-x: 24px;
$card-title-spacer-y: $global-spacing-05;
$card-text-padding-bottom: $global-spacing-1;
$card-border-width: 0px;
$card-border-radius: $global-spacing-0;
$card-border-color: $global-color-warning-warning-500;
$card-border-color-hover: $global-color-warning-warning-600;

// button
$card-button-width: fit-content;
$card-button-min-width: 100px;
$card-button-max-width: unset;
$card-button-margin-top: $global-spacing-05;

// header
$card-header-primary-bg: $global-color-success-success-100;
$card-header-bg-hover: $global-color-success-success-100;
$card-header-border-color: $global-color-success-success-100;
$card-header-border-color-hover: $global-color-success-success-100;
$card-header-primary-color: $global-color-dark-dark-800;
$card-header-color-hover: $global-color-dark-dark-800;
$card-header-cap-padding-x: $global-spacing-2;
$card-header-cap-padding-y: $global-spacing-05;
$card-header-border-radius: $global-spacing-0;
$card-header-text-align: center;
$card-header-width: fit-content;
$card-header-min-width: 150px;
$card-header-max-width: unset;
$card-inner-border-radius: $global-spacing-0;
$card-group-spacing: 30px;
$card-body-border-top-width: $global-spacing-05;
$card-body-border-right-width: 0px;
$card-body-border-bottom-width: 0px;
$card-body-border-left-width: 0px;
$card-body-border-top-color: $global-color-warning-warning-500;
$card-body-border-bottom-color: $global-color-warning-warning-500;
$card-body-border-left-color: $global-color-warning-warning-500;
$card-body-border-right-color: $global-color-warning-warning-500;
$card-top-left: $global-spacing-0;
$card-top-right: $global-spacing-0;
$card-bottom-right: $global-spacing-0;
$card-bottom-left: $global-spacing-0;

// footer
$card-footer-primary-bg: $global-color-success-success-100;
$card-footer-border-color: $global-color-success-success-100;
$card-footer-primary-color: $global-color-dark-dark-800;
$card-footer-cap-padding-y: $global-spacing-2;
$card-footer-cap-padding-x: $global-spacing-1;
$card-footer-border-radius: $global-spacing-0;
$card-footer-text-align: center;
$card-footer-width: auto;
$card-footer-min-width: unset;
$card-footer-max-width: unset;

// carousel

// control
$carousel-control-color: $global-color-black-white;
$carousel-control-hover-color: $global-color-black-white;
$carousel-control-arrow-height: 60px;
$carousel-control-arrow-width: 60px;
$carousel-control-width: 60px;
$carousel-control-arrow-bg-color: rgba(15, 21, 26, 0.5000);
$carousel-control-arrow-border-radius: $global-spacing-0;
$carousel-control-margin-y: $global-spacing-0;
$carousel-control-margin-x: $global-spacing-0;
$carousel-control-arrow-bg-hover-color: $global-color-dark-dark-900;
$carousel-control-default-border: #ffffff;
$carousel-control-hover-border: #ffffff;
$carousel-control-border-width: 0px;

// indicator
$carousel-indicator-color: $global-color-black-white;
$carousel-indicator-width: 20px;
$carousel-indicator-height: 3px;
$carousel-indicator-active-height: 3px;
$carousel-indicator-hit-area-height: 20px;
$carousel-indicator-spacer: $global-spacing-05;
$carousel-indicator-border-radius: $global-spacing-0;
$carousel-indicator-active-bg: $global-color-black-white;

// card
$carousel-indicator-card-color: $global-color-primary-primary-500;
$carousel-indicator-card-width: 8px;
$carousel-indicator-card-height: 8px;
$carousel-indicator-card-active-height: 8px;
$carousel-indicator-card-hit-area-height: 20px;
$carousel-indicator-card-spacer: $global-spacing-05;
$carousel-indicator-card-border-radius: $global-spacing-01;
$carousel-indicator-card-active-bg: $global-color-primary-primary-700;

// feature nugget
$carousel-indicator-feature-nugget-color: $global-color-secondary-secondary-300;
$carousel-indicator-feature-nugget-width: 20px;
$carousel-indicator-feature-nugget-height: 3px;
$carousel-indicator-feature-nugget-active-height: 3px;
$carousel-indicator-feature-nugget-hit-area-height: 20px;
$carousel-indicator-feature-nugget-spacer: $global-spacing-05;
$carousel-indicator-feature-nugget-border-radius: $global-spacing-border-radius-pill;
$carousel-indicator-feature-nugget-active-bg: $global-color-secondary-secondary-100;
$carousel-bg: $global-color-primary-primary-900;

// caption
$carousel-caption-bg: rgba(255, 255, 255, 0.0000);
$carousel-caption-color: $global-color-black-white;
$carousel-caption-color-subtitle: $global-color-black-white;
$carousel-caption-padding-x: $global-spacing-0;
$carousel-caption-padding-y: $global-spacing-0;
$carousel-caption-border-radius: $global-spacing-0;
$carousel-caption-spacer: $global-spacing-1;
$carousel-caption-bottom: $global-spacing-8;
$carousel-caption-left: $global-spacing-0;
$carousel-caption-right: $global-spacing-0;
$carousel-caption-max-width: 700px;
$carousel-caption-text-align: left;
$carousel-caption-bottom-tablet: $global-spacing-2;
$carousel-caption-left-tablet: $global-spacing-2;
$carousel-caption-right-tablet: $global-spacing-2;
$carousel-caption-bottom-mobile: $global-spacing-1;
$carousel-caption-left-mobile: $global-spacing-2;
$carousel-caption-right-mobile: $global-spacing-2;
$carousel-caption-mobile-padding-x: $global-spacing-2;
$carousel-caption-mobile-padding-y: $global-spacing-2;

// collapse
$collapse-radius: $global-spacing-0;
$collapse-spacing: $global-spacing-1;
$collapse-btn-spacing: $global-spacing-05;
$collapse-padding-y: $global-spacing-1;
$collapse-padding-x: $global-spacing-1;
$collapse-color: $global-color-dark-dark-900;
$collapse-color-background: $global-color-black-white;
$collapse-color-border: $global-color-dark-dark-400;

// dropdowns
$dropdown-min-width: $global-spacing-10;
$dropdown-padding-y: $global-spacing-02;
$dropdown-padding-x: $global-spacing-05;
$dropdown-item-padding-x: $global-spacing-02;
$dropdown-item-padding-y: $global-spacing-05;
$dropdown-spacer: $global-spacing-05;
$dropdown-color: $global-color-primary-primary-900;
$dropdown-bg: $global-color-black-white;
$dropdown-border-color: $global-color-light-light-300;
$dropdown-border-radius: $global-spacing-0;
$dropdown-divider-bg: $global-color-light-light-300;
$dropdown-link-color: $global-color-primary-primary-800;
$dropdown-link-hover-color: $global-color-primary-primary-700;
$dropdown-link-hover-bg: $global-color-primary-primary-100;
$dropdown-link-active-color: $global-color-black-white;
$dropdown-link-active-bg: $global-color-primary-primary-700;
$dropdown-link-disabled-color: $global-color-light-light-300;
$dropdown-header-color: $global-color-primary-primary-700;
$dropdown-dark-bg: $global-color-dark-dark-800;
$dropdown-dark-color: $global-color-black-white;
$dropdown-dark-border-color: $global-color-dark-dark-900;
$dropdown-dark-divider-bg: $global-color-dark-dark-900;
$dropdown-dark-link-color: $global-color-black-white;
$dropdown-dark-link-hover-color: $global-color-black-white;
$dropdown-dark-link-hover-bg: $global-color-dark-dark-600;
$dropdown-dark-link-active-color: $global-color-black-white;
$dropdown-dark-link-active-bg: $global-color-primary-primary-700;
$dropdown-dark-link-disabled-color: $global-color-success-success-600;
$dropdown-dark-header-color: $global-color-success-success-100;
$dropdown-scroll-bar-color: $global-color-primary-primary-700;

// divider
$divider-color: $global-color-light-light-300;

// featured-article

// image-left
$featured-article-image-left-color-bg: $global-color-success-success-100;
$featured-article-image-left-content-bg: $global-color-black-white;
$featured-article-image-left-title: $global-color-primary-primary-900;
$featured-article-image-left-subtitle: $global-color-primary-primary-900;
$featured-article-image-left-text: $global-color-primary-primary-900;
$featured-article-image-left-link-color: $global-color-primary-primary-700;
$featured-article-image-left-link-hover-color: $global-color-primary-primary-800;
$featured-article-image-left-padding-y: $global-spacing-4;
$featured-article-image-left-padding-x: $global-spacing-4;
$featured-article-image-left-text-spacer: $global-spacing-1;
$featured-article-image-left-spacer-left: 0px;
$featured-article-image-left-mobile-padding-y: $global-spacing-2;
$featured-article-image-left-mobile-padding-x: $global-spacing-2;
$featured-article-image-left-top-left: $global-spacing-border-radius-m;
$featured-article-image-left-top-right: $global-spacing-border-radius-m;
$featured-article-image-left-bottom-right: $global-spacing-border-radius-m;
$featured-article-image-left-bottom-left: $global-spacing-border-radius-m;
$featured-article-image-left-image-top-left: $global-spacing-border-radius-m;
$featured-article-image-left-image-top-right: $global-spacing-border-radius-m;
$featured-article-image-left-image-bottom-right: $global-spacing-border-radius-m;
$featured-article-image-left-image-bottom-left: $global-spacing-border-radius-m;

// image-right
$featured-article-image-right-color-bg: $default;
$featured-article-image-right-content-bg: $global-color-warning-warning-500;
$featured-article-image-right-title: $global-color-dark-dark-900;
$featured-article-image-right-subtitle: $global-color-dark-dark-900;
$featured-article-image-right-text: $global-color-dark-dark-900;
$featured-article-image-right-link-color: $global-color-dark-dark-800;
$featured-article-image-right-link-hover-color: $global-color-dark-dark-900;
$featured-article-image-right-padding-y: $global-spacing-4;
$featured-article-image-right-padding-x: $global-spacing-4;
$featured-article-image-right-text-spacer: $global-spacing-1;
$featured-article-image-right-spacer-right: 0px;
$featured-article-image-right-mobile-padding-y: $global-spacing-2;
$featured-article-image-right-mobile-padding-x: $global-spacing-2;
$featured-article-image-right-top-left: $global-spacing-border-radius-m;
$featured-article-image-right-top-right: $global-spacing-border-radius-m;
$featured-article-image-right-bottom-right: $global-spacing-border-radius-m;
$featured-article-image-right-bottom-left: $global-spacing-border-radius-m;
$featured-article-image-right-image-top-left: $global-spacing-border-radius-m;
$featured-article-image-right-image-top-right: $global-spacing-border-radius-m;
$featured-article-image-right-image-bottom-right: $global-spacing-border-radius-m;
$featured-article-image-right-image-bottom-left: $global-spacing-border-radius-m;

// footer
$footer-color-bg: $global-color-dark-dark-900;
$footer-bar-color: $global-color-black-white;
$footer-link-color: $global-color-warning-warning-200;
$footer-link-hover: $global-color-warning-warning-400;
$footer-title: $global-color-black-white;
$footer-bar-content: $global-color-primary-primary-900;
$footer-bar-content-link: $global-color-primary-primary-700;

// hero

// caption
$hero-caption-wrapper-bg: $global-color-dark-dark-900;
$hero-caption-color-bg: $global-color-dark-dark-900;
$hero-caption-color: $global-color-black-white;
$hero-caption-border: rgba(15, 23, 42, 0.0000);
$hero-caption-border-top: 0px;
$hero-caption-border-right: 0px;
$hero-caption-border-bottom: 0px;
$hero-caption-border-left: 0px;
$hero-caption-text-padding-x: $global-spacing-0;
$hero-caption-text-padding-y: $global-spacing-4;
$hero-caption-padding-top: $global-spacing-2;
$hero-caption-padding-bottom: $global-spacing-0;
$hero-caption-padding-left: $global-spacing-2;
$hero-caption-padding-right: $global-spacing-2;
$hero-caption-type-padding-bottom: $global-spacing-2;
$hero-caption-title-padding-bottom: $global-spacing-1;
$hero-caption-date-padding-bottom: $global-spacing-0;
$hero-caption-author-padding-bottom: $global-spacing-2;
$hero-caption-radius: $global-spacing-0;
$hero-caption-text-align: left;
$hero-caption-max-width: 1600px;
$hero-align: left;

// image
$hero-image-border: rgba(255, 109, 97, 0.0000);
$hero-image-border-top: $global-spacing-0;
$hero-image-border-right: $global-spacing-0;
$hero-image-border-bottom: $global-spacing-0;
$hero-image-border-left: $global-spacing-0;
$hero-image-min-width: 1000px;
$hero-image-radius: $global-spacing-border-radius-m;

// button
$hero-button-border: rgba(255, 109, 97, 0.5000);
$hero-button-color: $global-color-light-light-900;
$hero-button-padding-x: $global-spacing-0;
$hero-button-padding-y: $global-spacing-1;
$hero-button-min-width: 150px;
$hero-button-radius: $global-spacing-0;
$hero-button-align: right;

// Intro
$intro-padding-x: $global-spacing-2;
$intro-padding-y: $global-spacing-2;
$intro-color-bg: $global-color-warning-warning-500;
$intro-content-bg: rgba(251, 186, 0, 0.0000);
$intro-text-color: $global-color-primary-primary-900;
$intro-text-padding-x: $global-spacing-3;
$intro-text-padding-y: $global-spacing-3;
$intro-text-spacer: $global-spacing-1;
$intro-top-left: $global-spacing-0;
$intro-top-right: $global-spacing-0;
$intro-bottom-right: $global-spacing-0;
$intro-bottom-left: $global-spacing-0;
$intro-border-color: $global-color-primary-primary-200;
$intro-border-left: $global-spacing-0;
$intro-border-top: $global-spacing-0;
$intro-border-bottom: $global-spacing-0;
$intro-border-right: $global-spacing-0;
$intro-mobile-padding-y: $global-spacing-1;
$intro-mobile-padding-x: $global-spacing-1;

// images
$imag-top-left: $global-spacing-border-radius-m;
$imag-top-right: $global-spacing-border-radius-m;
$imag-bottom-right: $global-spacing-border-radius-m;
$imag-bottom-left: $global-spacing-border-radius-sm;

// left sidebar
$left-sidebar-item-padding-x: $global-spacing-0;
$left-sidebar-item-padding-y: $global-spacing-0;
$left-sidebar-radius: $global-spacing-border-radius-m;
$left-sidebar-border-width: $global-spacing-0;
$left-sidebar-bg: $alt-1;
$left-sidebar-color: $global-color-primary-primary-900;
$left-sidebar-border-color: $global-color-light-light-300;

// body
$left-sidebar-body-spacer: $global-spacing-1;
$left-sidebar-body-padding-x: $global-spacing-1;
$left-sidebar-body-padding-y: $global-spacing-1;
$left-sidebar-body-color: $global-color-dark-dark-900;
$left-sidebar-body-divider: $global-color-primary-primary-100;

// title
$left-sidebar-title-padding-x: $global-spacing-1;
$left-sidebar-title-padding-y: $global-spacing-1;
$left-sidebar-title-color: $global-color-secondary-secondary-900;
$left-sidebar-title-bg: $alt-1;
$left-sidebar-title-border: $global-color-primary-primary-100;
$left-sidebar-title-border-bottom: 1px;

// right sidebar
$left-sidebar-right-sidebar-item-padding-x: $global-spacing-0;
$left-sidebar-right-sidebar-item-padding-y: $global-spacing-0;
$left-sidebar-right-sidebar-radius: $global-spacing-border-radius-m;
$left-sidebar-right-sidebar-border-width: $global-spacing-0;
$left-sidebar-right-sidebar-bg: $alt-1;

// body
$left-sidebar-right-sidebar-body-spacer: $global-spacing-1;
$left-sidebar-right-sidebar-body-padding-x: $global-spacing-1;
$left-sidebar-right-sidebar-body-padding-y: $global-spacing-1;
$left-sidebar-right-sidebar-body-color: $global-color-dark-dark-900;
$left-sidebar-right-sidebar-body-divider: $global-color-primary-primary-100;
$left-sidebar-right-sidebar-color: $global-color-primary-primary-900;
$left-sidebar-right-sidebar-border-color: $global-color-light-light-300;

// title
$left-sidebar-right-sidebar-title-padding-x: $global-spacing-1;
$left-sidebar-right-sidebar-title-padding-y: $global-spacing-1;
$left-sidebar-right-sidebar-title-color: $global-color-dark-dark-900;
$left-sidebar-right-sidebar-title-bg: $alt-1;
$left-sidebar-right-sidebar-title-border: $global-color-primary-primary-100;
$left-sidebar-right-sidebar-title-border-bottom: 1px;

// list group
$list-group-item-padding-y: $global-spacing-05;
$list-group-item-padding-x: $global-spacing-1;
$list-group-bg: $global-color-success-success-100;
$list-group-color: $global-color-primary-primary-700;
$list-group-border-color: $global-color-primary-primary-100;
$list-group-hover-color: $global-color-primary-primary-800;
$list-group-hover-bg: $global-color-primary-primary-100;
$list-group-action-color: $global-color-black-white;
$list-group-action-bg: $global-color-primary-primary-700;
$list-group-action-border-color: $global-color-primary-primary-100;
$list-group-active-color: $global-color-black-white;
$list-group-active-bg: $global-color-secondary-secondary-800;
$list-group-active-border-color: $global-color-secondary-secondary-800;
$list-group-disabled-color: $global-color-light-light-400;
$list-group-disabled-border-color: $global-color-primary-primary-100;
$list-group-disabled-bg: $global-color-black-white;
$list-group-border-radius: $global-spacing-border-radius-m;

// modal
$modal-content-color: $global-color-primary-primary-900;
$modal-content-bg: $global-color-black-white;
$modal-content-border-color: $global-color-light-light-200;
$modal-header-border-color: $global-color-light-light-200;
$modal-footer-border-color: $global-color-light-light-200;
$modal-inner-padding-y: $global-spacing-1;
$modal-inner-padding-x: $global-spacing-1;
$modal-sm: 300px;
$modal-md: 500px;
$modal-lg: 800px;
$modal-xl: 1140px;
$modal-border-radius: $global-spacing-border-radius-m;
$modal-inner-border-radius: $global-spacing-0;
$modal-header-padding-x: $global-spacing-1;
$modal-header-padding-y: $global-spacing-1;
$modal-header-bg: $global-color-light-light-200;
$modal-footer-bg: $global-color-light-light-100;
$modal-title-line-height: $global-spacing-01;

// navbar

// default
$navbar-default-padding-top: $global-spacing-1;
$navbar-default-padding-right: $global-spacing-1;
$navbar-default-padding-bottom: $global-spacing-1;
$navbar-default-padding-left: $global-spacing-1;
$navbar-default-border-radius: $global-spacing-0;
$navbar-default-bg: $global-color-primary-primary-900;
$navbar-default-color: $global-color-primary-primary-600;
$navbar-default-hover-color: $global-color-primary-primary-800;
$navbar-default-active-color: $global-color-primary-primary-900;
$navbar-default-active-disabled: $global-color-primary-primary-400;
$navbar-default-brand-padding-y: $global-spacing-0;
$navbar-default-toggler-padding-y: $global-spacing-05;
$navbar-default-toggler-padding-x: $global-spacing-05;
$navbar-default-toggler-font-size: 30px;
$navbar-default-toggler-bg-color: rgba(251, 186, 0, 0.1000);
$navbar-default-toggler-icon-color: $global-color-warning-warning-500;
$navbar-default-toggler-border-color: rgba(212, 218, 227, 0.0000);
$navbar-default-toggler-bg-hover-color: $global-color-warning-warning-500;
$navbar-default-toggler-icon-hover-color: $global-color-primary-primary-900;
$navbar-default-toggler-border-hover-color: $global-color-warning-warning-500;
$navbar-default-toggler-border-radius: $global-spacing-0;

// link
$navbar-default-link-padding-x: $global-spacing-05;
$navbar-default-link-padding-y: $global-spacing-1;
$navbar-default-link-color: $global-color-primary-primary-900;
$navbar-default-link-color-bg: $global-color-black-white;
$navbar-default-link-hover-color: $global-color-black-white;
$navbar-default-link-hover-color-bg: $global-color-primary-primary-700;
$navbar-default-link-active-color: $global-color-primary-primary-900;
$navbar-default-link-active-color-bg: $global-color-primary-primary-200;
$navbar-default-link-disabled-color: $global-color-light-light-300;
$navbar-default-link-disabled-color-bg: $global-color-black-white;

// tabs
$navbar-default-tab-padding-x: $global-spacing-05;
$navbar-default-tab-padding-y: $global-spacing-1;
$navbar-default-tab-border-width: 1px;
$navbar-default-tab-color: $global-color-primary-primary-600;
$navbar-default-tab-border-color: $global-color-light-light-300;
$navbar-default-tab-hover-color: $global-color-primary-primary-800;
$navbar-default-tab-hover-color-bg: $global-color-primary-primary-800;
$navbar-default-tab-border-hover-color: $global-color-primary-primary-800;
$navbar-default-tab-active-color: $global-color-black-white;
$navbar-default-tab-border-active-color: $global-color-primary-primary-800;
$navbar-default-tab-active-color-bg: $global-color-primary-primary-700;
$navbar-default-tab-disabled-color: $global-color-primary-primary-300;
$navbar-default-tab-border-disabled-color: $global-color-primary-primary-300;

// dark

// link
$navbar-dark-link-color: $global-color-primary-primary-900;
$navbar-dark-link-color-bg: $global-color-black-white;
$navbar-dark-link-hover-color: $global-color-black-white;
$navbar-dark-link-hover-color-bg: $global-color-primary-primary-700;
$navbar-dark-link-active-color: $global-color-primary-primary-900;
$navbar-dark-link-active-color-bg: $global-color-primary-primary-100;
$navbar-dark-link-disabled-color: $global-color-light-light-400;
$navbar-dark-link-disabled-color-bg: $global-color-black-white;
$navbar-dark-link-border: rgba(255, 255, 255, 0.0000);
$navbar-dark-link-padding-x: $global-spacing-05;
$navbar-dark-link-padding-y: $global-spacing-05;
$navbar-dark-link-title-padding-y: 12px;
$navbar-dark-link-title-padding-x: $global-spacing-05;
$navbar-dark-link-title-bg: $global-color-primary-primary-100;
$navbar-dark-link-title-color: $global-color-primary-primary-900;
$navbar-dark-link-title-border-bottom: 1px;
$navbar-dark-link-title-border-color: $global-color-primary-primary-100;
$navbar-dark-link-hover-title-bg: $global-color-primary-primary-300;
$navbar-dark-link-hover-title-color: $global-color-secondary-secondary-900;

// bar
$navbar-dark-bar-border-color: $global-color-success-success-800;
$navbar-dark-bar-padding-x: $global-spacing-02;
$navbar-dark-bar-padding-y: $global-spacing-0;
$navbar-dark-bar-border-radius: $global-spacing-0;
$navbar-dark-bar-max-width: 1920px;
$navbar-dark-color: $global-color-black-white;
$navbar-dark-color-bg: $global-color-primary-primary-900;
$navbar-dark-hover-color: $global-color-primary-primary-400;
$navbar-dark-hover-color-bg: rgba(54, 190, 250, 0.1000);
$navbar-dark-active-color: $global-color-black-white;
$navbar-dark-active-color-bg: $global-color-secondary-secondary-600;
$navbar-dark-disabled-color: $global-color-primary-primary-800;
$navbar-dark-disabled-color-bg: $global-color-primary-primary-900;
$navbar-dark-padding-x: 24px;
$navbar-dark-height: 62px;

// offcanvas
$offcanvas-border-color: $global-color-primary-primary-100;
$offcanvas-bg-color: $global-color-black-white;
$offcanvas-color: $global-color-primary-primary-900;
$offcanvas-padding-x: $global-spacing-2;
$offcanvas-padding-y: $global-spacing-1;
$offcanvas-horizontal-width: 400px;

// pagination
$pagination-min-width: 30px;
$pagination-text-align: center;
$pagination-padding-y: 12px;
$pagination-padding-x: 6px;
$pagination-padding-y-sm: 8px;
$pagination-padding-x-sm: 4px;
$pagination-padding-y-lg: 24px;
$pagination-padding-x-lg: 12px;
$pagination-border-radius: $global-spacing-border-radius-m;
$pagination-color: $global-color-primary-primary-700;
$pagination-bg: $surface-primary;
$pagination-border-color: $global-color-primary-primary-100;
$pagination-hover-color: $global-color-primary-primary-800;
$pagination-hover-bg: $global-color-primary-primary-100;
$pagination-hover-border-color: $global-color-primary-primary-100;
$pagination-focus-color: $global-color-primary-primary-600;
$pagination-focus-bg: $global-color-light-light-200;
$pagination-focus-border-color: $global-color-primary-primary-100;
$pagination-active-color: $global-color-black-white;
$pagination-active-bg: $global-color-primary-primary-700;
$pagination-active-border-color: $global-color-primary-primary-700;
$pagination-disabled-color: $global-color-primary-primary-300;
$pagination-disabled-bg: $global-color-black-white;
$pagination-disabled-border-color: $global-color-primary-primary-100;

// placeholders
$placeholder-color: $global-color-light-light-400;
$placeholder-image: $global-color-light-light-500;
$placeholder-border-radius: $global-spacing-border-radius-m;

// popovers
$popover-bg: $global-color-black-white;
$popover-max-width: 276px;
$popover-border-color: $global-color-primary-primary-100;
$popover-border-radius: $global-spacing-border-radius-m;
$popover-header-bg: $global-color-primary-primary-100;
$popover-header-color: $global-color-primary-primary-900;
$popover-header-padding-y: $global-spacing-1;
$popover-header-padding-x: $global-spacing-05;
$popover-body-color: $global-color-primary-primary-900;

// search
$popover-search-bg-color: $global-color-black-white;
$popover-search-padding-x: $global-spacing-2;
$popover-search-padding-y: $global-spacing-1;
$popover-search-border-radius: $global-spacing-border-radius-m;
$popover-search-input-border-radius: $global-spacing-border-radius-m;
$popover-search-title-color: $global-color-dark-dark-900;
$popover-search-shadow-x: 0px;
$popover-search-shadow-y: 4px;
$popover-search-shadow-blur: 4px;
$popover-search-shadow-spread: 0px;
$popover-search-shadow-color: rgba(15, 21, 26, 0.1000);
$popover-body-padding-y: $global-spacing-1;
$popover-body-padding-x: $global-spacing-1;

// progress
$progress-bg: $global-color-light-light-300;
$progress-bar-color: $global-color-black-white;
$progress-bar-bg-primary: $global-color-primary-primary-500;
$progress-bar-bg-success: $global-color-success-success-500;
$progress-bar-bg-info: $global-color-info-info-500;
$progress-bar-bg-warning: $global-color-warning-warning-500;
$progress-bar-bg-danger: $global-color-danger-danger-500;
$progress-border-radius: $global-spacing-border-radius-m;
$progress-height: 20px;

// spinners
$spinner-color-dark: $dark;
$spinner-color-primary: $primary;
$spinner-color-secondary: $secondary;
$spinner-color-success: $global-color-success-success-500;
$spinner-color-danger: $global-color-danger-danger-500;
$spinner-color-warning: $global-color-warning-warning-500;
$spinner-color-info: $global-color-info-info-500;
$spinner-color-light: $global-color-light-light-500;
$spinner-width: 32px;
$spinner-height: 32px;
$spinner-animation-speed: 1.2s;

// table
$table-title-color: $text-primary;
$table-title-bg: $global-color-light-light-200;
$table-title-border: $global-color-light-light-300;
$table-body-color: $text-secondary;
$table-body-bg: $global-color-light-light-100;
$table-body-border: $global-color-light-light-300;
$table-border: 1px;

// toasts

// default
$toast-default-padding-y: $global-spacing-1;
$toast-default-padding-x: $global-spacing-1;
$toast-default-header-padding-y: $global-spacing-05;
$toast-default-header-padding-x: $global-spacing-05;
$toast-default-color: $global-color-primary-primary-900;
$toast-default-background-color: $global-color-black-white;
$toast-default-border-color: $global-color-light-light-300;
$toast-default-border-radius: $global-spacing-border-radius-m;
$toast-default-header-color: $global-color-primary-primary-900;
$toast-default-header-background-color: $global-color-black-white;
$toast-default-header-border-color: $global-color-light-light-300;

// primary
$toast-primary-padding-x: $global-spacing-1;
$toast-primary-padding-y: $global-spacing-1;
$toast-primary-header-padding-x: $global-spacing-05;
$toast-primary-header-padding-y: $global-spacing-05;
$toast-primary-color: $global-color-black-white;
$toast-primary-background-color: $global-color-primary-primary-600;
$toast-primary-border-color: $global-color-primary-primary-800;
$toast-primary-border-radius: $global-spacing-border-radius-m;
$toast-primary-header-color: $global-color-black-white;
$toast-primary-header-background-color: $global-color-primary-primary-700;
$toast-primary-header-border-color: $global-color-primary-primary-800;

// secondary
$toast-secondary-padding-x: $global-spacing-1;
$toast-secondary-padding-y: $global-spacing-1;
$toast-secondary-header-padding-x: $global-spacing-05;
$toast-secondary-header-padding-y: $global-spacing-05;
$toast-secondary-color: $global-color-black-white;
$toast-secondary-background-color: $global-color-secondary-secondary-500;
$toast-secondary-border-color: $global-color-secondary-secondary-700;
$toast-secondary-border-radius: $global-spacing-border-radius-m;
$toast-secondary-header-color: $global-color-secondary-secondary-100;
$toast-secondary-header-background-color: $global-color-secondary-secondary-600;
$toast-secondary-header-border-color: $global-color-secondary-secondary-700;

// success
$toast-success-padding-x: $global-spacing-1;
$toast-success-padding-y: $global-spacing-1;
$toast-success-header-padding-x: $global-spacing-05;
$toast-success-header-padding-y: $global-spacing-05;
$toast-success-color: $global-color-black-white;
$toast-success-background-color: $global-color-success-success-500;
$toast-success-border-color: $global-color-success-success-600;
$toast-success-border-radius: $global-spacing-border-radius-m;
$toast-success-header-color: $global-color-black-white;
$toast-success-header-background-color: $global-color-success-success-500;
$toast-success-header-border-color: $global-color-success-success-600;

// danger
$toast-danger-padding-x: $global-spacing-1;
$toast-danger-padding-y: $global-spacing-1;
$toast-danger-header-padding-x: $global-spacing-05;
$toast-danger-header-padding-y: $global-spacing-05;
$toast-danger-color: $global-color-black-white;
$toast-danger-background-color: $global-color-danger-danger-500;
$toast-danger-border-color: $global-color-danger-danger-400;
$toast-danger-border-radius: $global-spacing-border-radius-m;
$toast-danger-header-color: $global-color-black-white;
$toast-danger-header-background-color: $global-color-danger-danger-400;
$toast-danger-header-border-color: $global-color-danger-danger-400;

// warning
$toast-warning-padding-x: $global-spacing-1;
$toast-warning-padding-y: $global-spacing-1;
$toast-warning-header-padding-x: $global-spacing-05;
$toast-warning-header-padding-y: $global-spacing-05;
$toast-warning-color: $global-color-primary-primary-900;
$toast-warning-background-color: $global-color-warning-warning-500;
$toast-warning-border-color: $global-color-warning-warning-600;
$toast-warning-border-radius: $global-spacing-border-radius-m;
$toast-warning-header-color: $global-color-primary-primary-900;
$toast-warning-header-background-color: $global-color-warning-warning-500;
$toast-warning-header-border-color: $global-color-warning-warning-600;

// info
$toast-info-padding-x: $global-spacing-1;
$toast-info-padding-y: $global-spacing-1;
$toast-info-header-padding-x: $global-spacing-05;
$toast-info-header-padding-y: $global-spacing-05;
$toast-info-color: $global-color-primary-primary-900;
$toast-info-background-color: $global-color-info-info-400;
$toast-info-border-color: $global-color-info-info-500;
$toast-info-border-radius: $global-spacing-border-radius-m;
$toast-info-header-color: $global-color-primary-primary-900;
$toast-info-header-background-color: $global-color-info-info-400;
$toast-info-header-border-color: $global-color-info-info-500;

// dark
$toast-dark-padding-x: $global-spacing-1;
$toast-dark-padding-y: $global-spacing-1;
$toast-dark-header-padding-x: $global-spacing-05;
$toast-dark-header-padding-y: $global-spacing-05;
$toast-dark-color: $global-color-black-white;
$toast-dark-background-color: $global-color-dark-dark-500;
$toast-dark-border-color: $global-color-dark-dark-400;
$toast-dark-border-radius: $global-spacing-border-radius-m;
$toast-dark-header-color: $global-color-black-white;
$toast-dark-header-background-color: $global-color-dark-dark-400;
$toast-dark-header-border-color: $global-color-dark-dark-400;

// light
$toast-light-padding-x: $global-spacing-1;
$toast-light-padding-y: $global-spacing-1;
$toast-light-header-padding-x: $global-spacing-05;
$toast-light-header-padding-y: $global-spacing-05;
$toast-light-color: $global-color-dark-dark-900;
$toast-light-background-color: $global-color-light-light-200;
$toast-light-border-color: $global-color-light-light-300;
$toast-light-border-radius: $global-spacing-border-radius-m;
$toast-light-header-color: $global-color-light-light-900;
$toast-light-header-background-color: $global-color-light-light-300;
$toast-light-header-border-color: $global-color-light-light-300;

// tooltips
$tooltip-max-width: 200px;
$tooltip-color: $global-color-primary-primary-900;
$tooltip-bg: $global-color-primary-primary-100;
$tooltip-border-radius: $global-spacing-border-radius-m;
$tooltip-padding-x: $global-spacing-05;
$tooltip-padding-y: $global-spacing-02;

// upcoming
$upcoming-bg-max-width: 450px;
$upcoming-bg: $global-color-secondary-secondary-500;
$upcoming-border-radius: $global-spacing-0;

// card
$upcoming-card-color: rgba(255, 255, 255, 0.4000);
$upcoming-card-radius: $global-spacing-0;
$upcoming-card-spacer: $global-spacing-05;
$upcoming-card-padding-y: $global-spacing-1;
$upcoming-card-padding-x: $global-spacing-1;

// body
$upcoming-body-bg-color: $global-color-black-white;
$upcoming-body-color: $global-color-light-light-900;
$upcoming-body-radius: $global-spacing-0;
$upcoming-body-spacer: $global-spacing-1;
$upcoming-body-padding-y: $global-spacing-2;
$upcoming-body-padding-x: $global-spacing-2;

// forms
$form-border-radius: $global-spacing-0;
$form-fill: $global-color-black-white;
$form-fill-disabled: $global-color-light-light-200;
$form-default-border: $global-color-light-light-300;
$form-focused-border: $global-color-primary-primary-500;
$form-valid-border: $global-color-secondary-secondary-500;
$form-invalid-border: $global-color-danger-danger-500;
$form-color: $global-color-light-light-500;
$form-color-filled: $global-color-light-light-900;
