// Add custom variables - that aren't in Figma - here.
// Also all MODULE styling variables should be overridden here !!!
@import 'global';

$cookie_bg: $global-color-success-400;
$cookie_title_color: $global-text-primary;
$cookie_text_color: $global-text-primary;
$cookie_link_color: $global-text-link;
$cookie_link_hover_color: $global-text-link-hover;
$cookie_modal_header_color: $global-color-black-black;
$cookie_modal_link_color: $global-color-black-black;
$cookie_modal_link_hover_color: $global-color-black-black;

$navbar-toggler-height: 45px;
$navbar-toggler-width: 45px;
$logo-desktop: 40px;
$logo-mobile: 35px;

/** ================= [HEADER] ================= **/
$navbar-toggler-height: 62px;
$navbar-toggler-width: 62px;
$navbar-toggler-height-mobile: 50px;
$navbar-toggler-width-mobile: 50px;
$navbar-search-height-mobile: $navbar-toggler-height-mobile;
$navbar-search-width-mobile: $navbar-toggler-width-mobile;
$navbar-search-height: $navbar-toggler-height;
$navbar-search-width: $navbar-toggler-width;
$navbar-search-bg: #1F3D43;

/** ================= [PROMO] ================= **/
$promo-bg: $warning;
$promo-title-color: $global-text-primary;
$promo-text-color: $global-text-primary;

$main-content-margin-top: 0;
$menu-top-level-icon-color-hover: transparent;
$banner-text-padding-desktop: 1rem;
